<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<title>Access Denied</title>
</head>

<body>	
	
	<h1>You are not authorized to visit this page</h1>

	<div>
        User: <span sec:authentication="name"></span>
        <br>
        Role(s): <span sec:authentication="principal.authorities"></span>
	</div>
	
	<a type="button" class="btn btn-lg btn-secondary" th:href="@{/}">Back</a>

	<form th:action="@{/logout}" method="POST">
		<input type="submit" value="Logout" class="btn btn-lg btn-danger">
	</form>

</body>

</html>